.text-box {
    width: 350px;
    padding: 25px 15px;
    margin: 5px 0 10px 0;
    border-radius: 10px;
    background-color: #2a2a2a;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
}